<div class="alertMessageSucces hideMessage">
    <!-- <span class="fas fa-exclamation-circle"></span> -->
    <span>Succes!</span>
 </div>

 <div class="alertMessageFailed hideMessage">
    <!-- <span class="fas fa-exclamation-circle"></span> -->
    <span>Failed!</span>
 </div>