<ul>
    <li class="is-active"><a data-switcher data-tab="1">Friet</a></li>
    <li><a data-switcher data-tab="2">Snacks</a></li>
    <li><a data-switcher data-tab="3">Broodjes</a></li>
    <li><a data-switcher data-tab="4">Dranken</a></li>
    <li><a data-switcher data-tab="5">Handijs</a></li>
</ul>