<h1>Kassabon</h1>
<div>
    <article>
        <span>2x</span>
        <ul>
            <li>Friet Klein</li>
            <li>+ 1x Mayo</li>
            <li>+ 1x Oorlog</li>
        </ul>
        <p>€4,50</p>
    </article>

    <article>
        <span>1x</span>
        <ul>
            <li>Broodje Frikandel</li>
            <li>+ Speciaal</li>
        </ul>
        <p>€3,20</p>
    </article>

    <article>
        <span>1x</span>
        <ul>
            <li>Broodje Kroket</li>
            <li>+ Mosterd</li>
        </ul>
        <p>€2.95</p>
    </article>
</div>
<div>
    <p class="total">Totaal:<span> €10,65</span></p>
    <button>
        <p>Afrekenen</p>
        <img src="../../static/images/arrow.png" alt="">
    </button>
</div>