<h1>Kassabon</h1>
<div>
    <article>
        <span>2x</span>
        <ul>
            <li>Friet Klein</li>
            <li>+ Mayo</li>
        </ul>
        <p>€4,40</p>
        <button>
            <img src="../../static/images/close.png" alt="">
        </button>
    </article>
</div>
<div>
    <p class="total">Totaal:<span> €12,75</span></p>
    <button>
        <p>Afrekenen</p>
        <img src="../../static/images/arrow.png" alt="">
    </button>
</div>