<!DOCTYPE html>
<html lang="en">
<%- include('components/head'); %>

    <body>
        <header>
            <%- include('components/header') %>
        </header>

        <section>
            <%- include('components/products') %>
        </section>

        <aside>
            <%- include('components/receipt') %> 
        </aside>

        <footer>

        </footer>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    </body>

</html>