<!DOCTYPE html>
<html lang="en">
<%- include('components/head'); %>

    <body>
        <header>
            <%- include('components/orders') %>
        </header>


        <script src="../static/script/main.js"></script>

    </body>

</html>