h1, h2, h3, li, p, button {
  font-family: 'Barlow', sans-serif;
  line-height: 20px;
  font-size: 18px;
  font-weight: normal; }

ul {
  list-style: none; }

header ul {
  width: 100%;
  padding-top: 14px;
  padding-left: 10px;
  padding-bottom: 14px;
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 1;
  background-color: white; }
  header ul li {
    padding: 14px 25px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
    color: #171B36;
    border: solid transparent 2px;
    border-radius: 5px; }
    header ul li:hover {
      border: 2px solid white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }

section:first-of-type {
  position: relative;
  max-width: 80%;
  top: 100px; }
  section:first-of-type article {
    border-right: solid rgba(0, 0, 0, 0.1) 1px;
    border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
    width: 298px;
    height: 298px; }
    section:first-of-type article img {
      display: block;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      width: 218px;
      height: 150,85px; }
    section:first-of-type article h2 {
      text-align: center;
      font-weight: 600;
      font-size: 18px; }
    section:first-of-type article p {
      text-align: center; }

aside {
  z-index: 2;
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #171836;
  right: 0;
  top: 0;
  color: white; }
  aside h1 {
    padding-top: 6px;
    padding-left: 25px;
    padding-bottom: 40px;
    font-size: 24px;
    font-weight: 600; }
  aside article:first-of-type {
    padding-top: 0px; }
  aside article {
    border-bottom: solid rgba(255, 255, 255, 0.2) 1px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    padding-bottom: 10px;
    padding-top: 20px; }
    aside article span {
      font-size: 18px;
      font-weight: 500; }
    aside article ul {
      padding-left: 20px; }
      aside article ul li:first-of-type {
        font-weight: 700;
        font-size: 18px; }
      aside article ul li {
        line-height: 22px;
        font-weight: 500;
        font-size: 16px; }
    aside article p {
      margin-left: auto;
      margin-right: 0;
      font-weight: 500;
      font-size: 14px; }
  aside article:last-of-type {
    border-bottom: none; }
  aside div:last-of-type {
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    height: 153px;
    width: 300px;
    bottom: 0px; }
    aside div:last-of-type p.total {
      position: relative;
      left: 5px;
      margin: 25px;
      color: white;
      font-size: 20px;
      font-weight: 600; }
      aside div:last-of-type p.total span {
        color: white; }
    aside div:last-of-type button {
      width: 250px;
      height: 58px;
      display: flex;
      padding: 17px 20px;
      border-radius: 5px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px; }
      aside div:last-of-type button p {
        color: black;
        font-size: 20px;
        font-weight: 600;
        margin: 0px 10px; }
      aside div:last-of-type button img {
        position: relative;
        margin: 4px 0px 5px 80px; }
