h1, h2, h3, li, p{
    font-family: 'Barlow', sans-serif;
    line-height: 20px;
    font-size: 18px;
    font-weight: normal;
}
ul{
    list-style: none;
}

header{
    ul{
        width: 100%;
        padding-top: 14px;
        padding-left: 10px;
        padding-bottom: 14px;
        position: fixed;
        display: flex;
        flex-direction: row;
        z-index: 1;
        background-color: white;

        li{
        padding: 14px 25px;
        margin-right: 10px;
        margin-left: 10px;
        font-weight: bold;
        color: #171B36;
        border: none;
        border-radius: 5px;
        &:hover{
            border: 2px solid white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        }
    }
}

section:first-of-type{
    position: relative;
    max-width: 80%;
    top: 100px;
    article{
        border-right: solid rgba(0, 0, 0, 0.1) 1px;
        border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
        width: 298px;
        height: 298px;
        img{
            display: block;
            margin-top: 40px ;
            margin-left: auto;
            margin-right: auto;
            width: 218px;
            height: 150,85px;
        }
        h2{
            text-align: center;
            font-weight: 600;
            font-size: 18px;
        }
        p{
            text-align: center;
        }
    }
}

aside{
    z-index: 2;
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #171836;
    right: 0;
    top: 0; 
    color: white;
    h1{
        padding-top: 6px;
        padding-left: 25px;
        padding-bottom: 40px;
        font-size: 24px;
        font-weight: 600;
    }
    article:first-of-type{
        padding-top: 0px;
    }
    article{
        border-bottom: solid rgba(255, 255, 255, 0.2) 1px;
        margin-left: 25px;
        margin-right: 25px;
        display: flex; 
        padding-bottom: 10px;
        padding-top: 20px;       
        span{
            font-size: 18px;
            font-weight: 500;
        }
        ul{
            padding-left: 20px;
            li:first-of-type{
                font-weight: 700;
                font-size: 18px;
            }
            li{
                line-height: 22px;
                font-weight: 500;
                font-size: 16px;
            }
        }
        p{
            margin-left: auto;
            margin-right: 0;
            font-weight: 500;
            font-size: 14px;
        }
    }
    article:last-of-type{
        border-bottom: none;
    }
}

.draggable.dragging{
    opacity: .5;
}

.delete{
    background-color: red;
}