<% dranken.forEach(function(dranken) { %>
    <article class="order col-sm-6 col-md-4 col-lg-4">
        <img src="<%=  dranken.afbeelding %>">
        <h2>
            <%= dranken.titel %>
        </h2>
        <p>
            <%= dranken.prijs %>
        </p>
    </article>
    <% }); %>