<article class="order col-sm-6 col-md-4 col-lg-4">
    <img src="../../static/images/Friet.jpg" alt="">
    <h2>Friet Klein</h2>
    <p>€2,00</p>
</article>
<article class="col-sm-6 col-md-4 col-lg-4">
    <img src="../../static/images/Friet.jpg" alt="">
    <h2>Friet Middel</h2>
    <p>€2,80</p>
</article>
<article class="col-sm-6 col-md-4 col-lg-4">
    <img src="../../static/images/Friet.jpg" alt="">
    <h2>Friet Groot</h2>
    <p>€3,20</p>
</article>

<article class="col-sm-6 col-md-4 col-lg-4">
    <img src="../../static/images/Friet.jpg" alt="">
    <h2>Friet Klein</h2>
    <p>€2,00</p>
</article>
<article class="col-sm-6 col-md-4 col-lg-4">
    <img src="../../static/images/Friet.jpg" alt="">
    <h2>Friet Middel</h2>
    <p>€2,80</p>
</article>
<article class="col-sm-6 col-md-4 col-lg-4">
    <img src="../../static/images/Friet.jpg" alt="">
    <h2>Friet Groot</h2>
    <p>€3,20</p>
</article>

<article class="col-sm-6 col-md-4 col-lg-4">
    <img src="../../static/images/Friet.jpg" alt="">
    <h2>Friet Klein</h2>
    <p>€2,00</p>
</article>
<article class="col-sm-6 col-md-4 col-lg-4">
    <img src="../../static/images/Friet.jpg" alt="">
    <h2>Friet Middel</h2>
    <p>€2,80</p>
</article>
<article class="col-sm-6 col-md-4 col-lg-4">
    <img src="../../static/images/Friet.jpg" alt="">
    <h2>Friet Groot</h2>
    <p>€3,20</p>
</article>

<article class="col-sm-6 col-md-4 col-lg-4">
    <img src="../../static/images/Friet.jpg" alt="">
    <h2>Friet Klein</h2>
    <p>€2,00</p>
</article>
<article class="col-sm-6 col-md-4 col-lg-4">
    <img src="../../static/images/Friet.jpg" alt="">
    <h2>Friet Middel</h2>
    <p>€2,80</p>
</article>
<article class="col-sm-6 col-md-4 col-lg-4">
    <img src="../../static/images/Friet.jpg" alt="">
    <h2>Friet Groot</h2>
    <p>€3,20</p>
</article>




<!-- loop  -->

<!-- <%# product.forEach(function(product) { %>
    <article>
    <img src="<%#= product.image %>">
    <h2><%#= product.name %></h2>
    <p><%#= product.price  %> </p>
    </article>
<%# }); %> -->