<% handijs.forEach(function(handijs) { %>
    <article class="order col-sm-6 col-md-4 col-lg-4">
        <img src="<%=  handijs.afbeelding %>">
        <h2>
            <%= handijs.titel %>
        </h2>
        <p>
            <%= handijs.prijs %>
        </p>
    </article>
    <% }); %>