<% snacks.forEach(function(snacks) { %>
    <article class="order col-sm-6 col-md-4 col-lg-4">
        <img src="<%=  snacks.afbeelding %>">
        <h2>
            <%= snacks.titel %>
        </h2>
        <p>
            <%= snacks.prijs %>
        </p>
    </article>
    <% }); %>